.mobile-menu__email {
  margin: 0 0 18px;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  align-self: center;
}




