.authenticationForm {
  max-width: 358px;
  display: flex;
  flex-direction: column;
  margin: 60px auto 112px;
  padding: 0;
}


@media (max-width: 320px) {
  .authenticationForm {
    max-width: 260px;
  }
}



