.profile__title {
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 114%;
  margin: 0;
  text-overflow: ellipsis;
  max-width: 500px;
  overflow: hidden;
  white-space: nowrap;
}

@media (max-width: 920px) {
  .profile__title {
    font-size: 5vw;
  }
}

@media (max-width: 620px) {
  .profile__title {
    max-width: 350px;
  }
}

@media (max-width: 450px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
    max-width: 189px;
    text-align: center;
  }
}
