.header__burger {
  display: none;
  /* background-image: url('../../../images/burger-menu-line.svg'); */
  background-repeat: no-repeat;
  background-position: center;
  width: 24px;
  height: 24px;
  align-self: center;
  transition: 0.3s;
  background-color: transparent;
  border: none;
  padding: 0;
}

.header__burger:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 320px) {
  .header__burger {
    display: block;
    margin-left: auto;
  }
}



