.popup__input {
  width: 358px;
  height: 27px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 13px;
  padding-left: 0;
  padding-right: 0;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin-top: 13px;
  margin-left: 36px;
  margin-bottom: 5px;
}

@media (max-width: 570px) {
  .popup__input {
    width: 238px;
    margin-left: 22px;
  }
}
